{
    "outputSpeech": {
        "type": "SSML",
        "ssml": "<speak>{{ speech_text }}</speak>"
    },
    "card": {
        "type": "{{ card.type }}",
        "title": "{{ card.title }}",
        "content": "{{ card.content }}"
    },
    "shouldEndSession": "{{ should_end_session }}"
}
